body > p{
    text-align: center;
    margin-top: 4%;
    font-size: 30px;
    min-height: 100%;
}
.title-signin{
    font-size: 24px;
    text-align: center;
    margin-top: 90px;
}
.sign-in-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    margin-left: 360px;
    border-radius: 2px;
    box-shadow: 1px 10px 20px rgba(0,0,0,0.2);
}
.sign-in-form{
    height: 350px;
    border: 1px solid rgb(231, 119, 54);
    display: flex;
    flex-direction: column;
}
.hello-and-back{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.button-signin{
    width:35%;
    height: 30px;
    background-color: #d43b6e;
    font-size: 16px;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.3s;
    cursor: pointer;
}
.button-signin:hover, .register-submit:hover{
    background-color: rgb(231, 119, 54);
}
.legit-form{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    height: 80%;
}
.hello{
    font-size: 22px;
}
.sign-into{
    font-size: 18px;
}
form{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.form-input{
    border: 1px solid rgb(184, 182, 182);
    border-radius: 5px;
    height: 25px;
}
.right-text{
    display: grid;
    grid-template-columns: 1fr;
    column-gap:normal;
    text-align: center;
    background-image: linear-gradient(rgb(231, 119, 54), #d43b6e);
}
.right-text > p, .right-text > a{
    font-size: 18px;
    color: white;
}
.welcome{
    margin-top: 20px;
    font-size: 20px;
}
.create-account{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
}
.i-dont-have{
    color: rgb(231, 119, 54);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
}

.register-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 20px;
    border-radius: 2px;
    box-shadow: 1px 10px 20px rgba(0,0,0,0.2);
}

.register-form-container{
    height: 100%;
    width: 100%;
    border: 1px solid rgb(231, 119, 54);
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.register {
    width: 100%;
    height: 88%;
    display: flex;
    flex-direction: column;
}

.printer-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 2%;
    margin-left: 25%;
    width: 15%;
}

.register > div > label{
    margin-left: 20%;
}

.register-inputs {
    border: 1px solid rgb(184, 182, 182);
    border-radius: 5px;
    height: 35px;
    width: 50%;
    align-self: center;
}

.register > label {
    margin-left: 25%;
}

.register-submit {
    background-color: #d43b6e;
    font-size: 14px;
    border: none;
    color: white;
    transition-duration: 0.3s;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    align-self: center;
}

.register-text-container{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: normal;
    text-align: center;
    background-image: linear-gradient(#d43b6e, rgb(231, 119, 54));
}

.register-text-container > p, .register-text-container > a{
    font-size: 18px;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
}
.back-home-icons{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.bottom-text{
    width: 20%; 
    display: flex; 
    justify-content: space-evenly; 
    margin: 20px 0px 0px 570px;
}
.link-color{
    color: rgb(231, 119, 54);
}
.print-align{
    margin-right: 20px;
}
.please-confirm{
    color: #d43b6e;
    text-align: center;
}